*.class
*.pyc
/__pycache__
/hindGui/__pycache__
/hindGui/elements/__pycache__
/html/.history
/html2/.history
/assignment/walkthrough
assignment.zip
klang_compiler/dist.zip
/klang_compiler/dist/venv
klang_compiler/dist.zip
